// 色変数
$main-color: #edf5f1;
$back-color: #f9f9f7;
$bace-color: #f2f6f5;
$accent-color: #f28b34;
$btn-color: #67c0a7;

// ---------------------------------------------------------------------
// FV
// ---------------------------------------------------------------------
.fv {
    width: 100%;
    overflow: hidden;
    img {
        max-width: 857px;
        width: 65%;
        height: auto;
    }
    display: flex;
    background: linear-gradient(106.55deg, rgba(242, 246, 245, 0) 9.23%, #f2f6f5 43.4%);
}
.fv-inner {
    padding-left: 10%;
    max-width: 1108px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
}
.fv-text-inner{
    width: 100%;
}
.fv-main {
    font-size: 4rem;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 1.2px;
    text-align: left;
}
.fv-accent {
    font-size: 4rem;
    color: $accent-color;
}
.fv-text {
    margin: 16px 0;
    font-size: 1.4rem;
}

// 下層ページFV
.fv-list {
    width: 100%;
    height: 200px;
    background: linear-gradient(106.55deg, rgba(242, 246, 245, 0) 9.23%, #f2f6f5 43.4%);
}
.fv-inner-list{
    margin: 0 auto;
    width: 95%;
    max-width: 1108px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    h2{
        font-size: 3.2rem;
        font-weight: bold;
    }
}

// ---------------------------------------------------------------------
// Slider
// ---------------------------------------------------------------------
.custmer-bar {
    width: 100%;
    height: 180px;
    box-shadow: 1px 1px 5px 1px #D4CECA;
    z-index: 5;
    position: relative;
}
.custmer-bar-title {
    text-align: center;
    padding: 24px 0 16px;
    margin: 0 auto;
}
.scloll-box {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.slideshow {
    display: flex;
    animation: loop-slide 40s infinite linear 1s both;
}
@keyframes loop-slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.content {
    width: 200px;
    height: 60px;
    border: solid 1px #edeceb;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        height: auto;
    }
}

// ---------------------------------------------------------------------
// 企業での妊活サポートを実現しませんか？
// ---------------------------------------------------------------------
.btn-form {
    width: 100%;
}
.btn-form-first {
    background-color: $main-color;
}
.btn-form-container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 9px;
    img{
        width: 130px;
        height: auto;
    }
}
.btn-form-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.btn-form-title-box {
    margin: 0 auto 24px;
    width: 100%;
    min-width: 460px;
    text-align: center;
}
.btn-form-title{
    text-align: center;
    margin: 0 auto;
}

// ---------------------------------------------------------------------
// 従業員向け妊活・不妊サポートの特徴
// ---------------------------------------------------------------------
.suport-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
}
.suport-box {
    margin: 0 8px 16px;
    width: 38%;
    height: 600px;
    border: 1px solid #d4ceca;
    background-color: $back-color;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    border-radius: 8px;
}
.suport-title-box {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 200px;
}
.suport-title-accent {
    color: $accent-color;
    font-size: 2.4rem;
}
.suport-title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: left;
}
.suport-title-number {
    font-family: Quicksand;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 60px;
    text-align: left;
    color: $accent-color;
    margin-right: 16px;
}
.suport-text {
    line-height: 28px;
    letter-spacing: 1.2px;
    text-align: left;
}
.suport-text-accent {
    font-weight: bold;
    border-bottom: 2px solid $accent-color;
    font-size: 16px;
}
.section-sub-title {
    margin-top: 120px;
    font-size: 2.8rem;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
}
.section-sub-text {
    margin: 24px auto;
    line-height: 28px;
    width: 728px;
}
.section-sub-text-accent {
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 2px solid $accent-color;
}

// ---------------------------------------------------------------------
// 従業員向け妊活・不妊サポートの内容
// ---------------------------------------------------------------------
#seminar {
    background-color: $back-color;
}
.seminar-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    img{
        width: 48%;
        height: auto;
    }
}
.seminar-text-content{
    width: 48%;
}
.seminar-text-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.2px;
}
.seminar-text-main {
    margin-top: 16px;
    margin-right: 32px;
    line-height: 28px;
}
.seminar-text-main-accent {
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 2px solid $accent-color;
}
.seminar-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.seminar-img-box {
    width: 100%;
    img{
        width: 100%;
        height: auto;
    }
}
.seminar-box {
    margin: 0 16px 16px;
    width: 23%;
    min-width: 160px;
    height: 540px;
    border: 1px solid #d4ceca;
    background-color: #fff;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 8px;
}
.seminar-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.seminar-box-title {
    i {
        margin: 0 auto 16px;
        font-size: 1.6rem;
        width: 59px;
        height: 59px;
        background-color: $accent-color;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.seminar-text {
    font-size: 1.4rem;
    line-height: 24px;
    margin-top: 16px;
}
.seminar-text-accent {
    font-size: 1.4rem;
    color: $accent-color;
    font-weight: bold;
}
.seminar-sub-text {
    text-align: center;
}
.seminar-sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.seminar-sub-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 260px;
    padding: 16px 16px 0;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d4ceca;
    img{
        width: 80px;
        height: auto;
    }
}
.seminar-sub-box-text {
    font-size: 1.4rem;
}
.sub-text-accent {
    color: $accent-color;
    font-size: 1.4rem;
}

// ---------------------------------------------------------------------
// 妊活・不妊サポート導入のメリット
// ---------------------------------------------------------------------
.merit-title-box {
    position: relative;
    max-width: 330px;
    width: 50%;
    height: 60px;
    background-color: #fff;
    border: 2px solid #d4ceca;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto -32px;
}
.merit-title {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
}
.merit-container {
    width: 90%;
    border-radius: 16px;
    background-color: $back-color;
    border: 2px solid #d4ceca;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 40px 0;
    margin: 0 auto;
}
.merit-container:not(:last-child) {
    margin-bottom: 120px;
}
.merit-box {
    margin-bottom: 60px;
    width: 45%;
    img{
        width: 100%;
    }
}
.merit-box-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
        margin-right: 16px;
        width: 80px;
        height: auto;
    }
}
.merit-box-text-name {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 8px;
}
.merit-custmer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 24px 0;
    text-align: center;
}
.merit-custmer-box {
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    img {
        margin: 24px 40px 24px;
    }
}
.merit-custmer-title {
    margin-top: 24px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    color: $accent-color;
}
.merit-container-title {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 30px;
    margin: 0 auto;
}
.merit-container-title-accent {
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom: solid 1px $accent-color;
}
.merit-custmer-text {
    margin: 0 auto 40px;
}

// ---------------------------------------------------------------------
// 妊活・不妊支援導入効果
// ---------------------------------------------------------------------
.efficacy-container {
    max-width: 1108px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}
.efficacy-box {
    padding: 16px;
    width: 40%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: $back-color;
    border: 1px solid #d4ceca;
    border-radius: 8px;
    margin: 32px 16px 0;
    img{
        width: 100%;
        height: auto;
    }
}
.efficacy-number {
    color: $accent-color;
    font-size: 3.2rem;
    line-height: 48px;
    margin-right: 8px;
}
.efficacy-title {
    font-size: 2rem;
    font-weight: bold;
}
.efficacy-img {
    display: none;
}

// ---------------------------------------------------------------------
// 導入実績
// ---------------------------------------------------------------------
.gallery-cell {
    width: 90%;
    max-width: 750px;
    height: 280px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    opacity: 0.5;
    box-shadow: 2px 2px 4px 2px #D4CECA;
}
.sccess-item{
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #D4CECA;
    padding: 40px;
}
.success-item-box-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 40%;
        max-width: 300px;
        height: auto;
    }
}
.success-item-box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-left: 32px;
}
.success-item-title{
    font-weight: bold;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.success-item-text{
    font-size: 1.4rem;
    line-height: 24.5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.success-item-sub-title{
    line-height: 30px;
    color: $accent-color;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.success-item-btn{
    width: 50%;
    max-width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D4CECA;
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent-color;
    font-size: 1.3rem;
    i{
        font-size: 1.3rem;
        color: $accent-color;
    }
}
.success-list-btn{
    margin: 48px auto 0;
    background-color: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: #fff;
    }
}
.flickity-button-icon{
    fill: $accent-color;
}
.is-selected{
    opacity: 1;
}
.success-box{
    a{
        width: 100%;
        height: 100%;
    }
}

// ---------------------------------------------------------------------
// ファミワンから企業様へ
// ---------------------------------------------------------------------
.for-title{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
.for-text-accent{
    font-size: 1.2rem;
    font-weight: normal;
}
.for-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.for-box{
    width: 35%;
    margin: 0 16px 32px;
    background-color: $back-color;
    padding: 24px;
    height: 600px;
}
.for-box-inner{
    margin-bottom: 16px;
    img{
        width: 150px;
        height: auto;
    }
}
.for-box-inner-text{
    font-size: 1.4rem;
}
.for-box-inner-name-bold{
    font-weight: bold;
}

// ---------------------------------------------------------------------
// イベント情報
// ---------------------------------------------------------------------
#event{
    padding: 0;
}
.event-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.event-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 28%;
    height: 670px;
    padding: 16px;
    background-color: $back-color;
    border: 1px solid #D4CECA;
    img{
        width: 95%;
        margin: 0 auto;
    }
}
.event-title{
    margin-top: 16px;
    font-size: 2rem;
    font-weight: bold;
}
.event-main-text{
    font-size: 1.4rem;
    margin-top: 16px;
}
.event-icon{
    color: #fff;
    background-color: $accent-color;
    border-radius: 4px;
    width: 40px;
    height: 24px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
.event-sub-text{
    font-size: 1.2rem;
}
.contact-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 1.3rem;
    a{
        color: #fff;

    }
    i{
        font-size: 1.5rem;
        color: #fff;
        height: 13px;
    }
}
.contact-btn:hover,
.contact-btn:active{
    opacity: 0.9; filter: brightness(110%);
    transition: all .3s;
}

// ---------------------------------------------------------------------
// メディア掲載情報
// 妊活サポートに関する記事
// ---------------------------------------------------------------------
.media-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.media-box{
    margin-bottom: 32px;
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.media-icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100px;
    margin-right: 16px;
    border-radius: 8px;
    border: 1px solid #D4CECA;
    padding: 8px;
    img{
        width: 90%;
        height: auto;
    }
}
.news-icon-box{
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img{
        border-radius: 8px;
        border: 1px solid #D4CECA;
        width: 100%;
        height: auto;
    }
}
.media-text-box{
    width: 60%;
}
.media-title{
    font-size: 2rem;
    font-weight: bold;
}
.media-text{
    font-size: 1.4rem;
}

// ---------------------------------------------------------------------
// 妊活サポートに関する記事
// ---------------------------------------------------------------------
.news-title,
.news-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news-title{
    color: $accent-color;
}


// Footer
.footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright {
    font-size: 1.2rem;
    color: #7E7E7E;
    padding-bottom: 16px;
}

// ---------------------------------------------------------------------
// インタビュー
// ---------------------------------------------------------------------
.main-container{
    width: 95%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 40px auto;
}
.main-container-inner{
    width: 60%;
}
.main-box{
    width: 100%;
    img{
        width: 100%;
    }
    // .main-title
    h1{
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 24px;
    }
    // .main-sub-title
    h2{
        font-size: 2.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }
    // .sub-title
    h3{
        font-size: 1.6rem;
        margin-bottom: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    // .main-text
    p{
        margin-bottom: 24px;
    }
}
.main-img-box{
    // .main-box-data
    p{
        font-size: 1.2rem;
        margin: 16px 0 60px;
    }
}
.main-box h2::before{
    content: '';
    margin-right: 12px;
    width: 4px;
    height: 90px;
    background-color: $accent-color;
}
.main-box h3::before{
    content: '';
    margin-right: 8px;
    width: 24px;
    height: 1px;
    background-color: #454545;

}
.company-container{
    margin-left: 32px;
    width: 30%;
}
.company-box{
    border: 1px solid #D4CECA;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100%;
        max-width: 300px;
        margin-bottom: 24px;
    }
}
.company-data-box{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: solid 1px #D4CECA;
    width: 100%;
    text-align: left;
    p{
        margin-top: 16px;
    }
}
.topics-box{
    width: 100%;
    // .topics-title
    h3{
        margin-bottom: 16px;
        font-size: 1.6rem;
    }
}
.btn-column-item{
    width: 100%;
    max-width: 300px;
    margin: 16px 8px 0;
}
.main-btn-box,
.btn-column{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-btn{
    max-width: 300px;
    margin: 8px;
    border: 1px solid $accent-color;
}
.topics-sub-box{
    // .topics-sub-title
    h2,span{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
}
.h2-accent{
    color: $accent-color;
}


// ---------------------------------------------------------------------
// インタビューリスト
// ---------------------------------------------------------------------
.success-slider{
    width: 100%;
}
.gallery{
    margin: 40px auto 60px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sccess-item-list{
    width: 25%;
    max-width: 300px;
    min-width: 280px;
    height: 320px;
    margin: 8px 8px 32px;
    counter-increment: gallery-cell;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #D4CECA;
    padding: 40px;
    box-shadow: 1px 1px 5px 1px #D4CECA;
}
.success-item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.success-item-box-inner-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.sccess-img-box{
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 3px 0 rgba(0,0,0,0.4);
    img{
        width: 100%;
        height: auto;
    }
}
.success-item-box-text-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-top: 16px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.success-item-sub-title-list{
    color: #454545;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
// pager
.pager-container{
    margin: 0 auto 120px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        width: 205px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #D4CECA;
            border-radius: 4px;

        }
    }
}
.prev-page,
.next-page{
    button{
        i{
            width: 20px;
            color: $accent-color;
        }
        background-color: #fff;
        border: 1px solid #D4CECA;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
