// 色変数
$main-color: #edf5f1;
$back-color: #f9f9f7;
$bace-color: #f2f6f5;
$accent-color: #f28b34;
$btn-color: #67c0a7;

// ----------------------------------------Header.css---------------------------------------------------

/*---------------------------------

共通

---------------------------------*/
.inner {
    max-width: 1108px;
    width: 95%;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}

.inner_body {
    max-width: 1108px;
    width: 95%;
    margin: 0 auto;
    padding: 0 24px;
}
.container {
    padding-top: 60px;
    padding-bottom: 60px;
}
/*背景色がある場合*/
.background_container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f9f9f7;
}
@media screen and (max-width: 768px) {
    .inner_body {
        width: 94%;
        margin: 0 0;
        padding: 0 0;
    }
    .container {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    /*背景色がある場合*/
    .background_container {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
/*P*/
p {
    font-size: 0.875rem;
    line-height: 1.75;
    color: #454545;
    font-feature-settings: "palt";
    letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
    p {
        font-size: 0.75rem;
        line-height: 1.5;
        color: #454545;
        font-feature-settings: "palt";
        letter-spacing: 1px;
    }
}
.small_text {
    font-size: 0.75rem;
    color: #666666;
}
.bold {
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .small_text {
        font-size: 0.625rem;
    }
}

a {
    color: #fa6e00;
}
/*必須*/
.hissu {
    font-size: 0.7rem;
    color: #fff;
    background-color: #ff603b;
    border-radius: 3px;
    padding: 1px 6px;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    display: inline-block;
}
/*任意*/
.nini {
    font-size: 0.7rem;
    color: #999;
    background-color: #eee;
    border-radius: 3px;
    padding: 1px 6px;
    position: relative;
    bottom: 1px;
    margin-left: 10px;
    display: inline-block;
}

/*---------------------------------

ナビゲーション

---------------------------------*/
.clear {
    display: none;
}
.logo {
    height: 30px;
}
.navigation {
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.brand {
    position: absolute;
    /*padding-left: 24px;*/
    float: left;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1108px;
    margin: 0 auto;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,
nav ul li a:visited {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #fff;
    color: #888;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}
nav ul li a:hover,
nav ul li a:visited:hover {
    background: #fa6e00;
    color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 10;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background: #fff;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .brand {
        padding-left: 24px;
    }
    .nav-mobile {
        display: block;
        background: #fff;
    }
    nav {
        width: 100%;
        padding: 70px 0 0;
    }
    nav ul {
        display: none;
    }
    nav ul li {
        float: none;
    }
    nav ul li a {
        padding: 24px;
        line-height: 20px;
    }
    nav ul li ul li a {
        padding-left: 40px;
    }

    .nav-dropdown {
        position: relative;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}
#nav-toggle {
    position: absolute;
    z-index: 10;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 32px;
    background: #888;
    position: absolute;
    z-index: 10;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

// ----------------------------------------Header.css---------------------------------------------------

// 共通
* {
    font-size: 62.5%;
    color: #454545;
    letter-spacing: 1.2;
    text-align: left;
}
img{
    width: 100%;
    height: auto;
}
.section-wrapper {
    width: 100%;
    padding: 120px 0;
}
.section-inner {
    width: 90%;
    max-width: 1108px;
    margin: 0 auto;
    text-align: center;
}
.section-title {
    font-weight: bold;
    font-size: 3.2rem;
    margin: 24px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 4px;
}
.section-title-accent {
    color: $accent-color;
    font-size: 3.2rem;
}
.section-title-famione {
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin-top: 16px;
    text-align: center;
}
.section-title-box {
    img {
        width: 90%;
        max-width: 240px;
        height: auto;
    }
    margin: 0 auto 40px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    img{
        width: 35%;
    }
}
.section-text {
    margin-top: 16px;
    line-height: 28px;
}
.section-text-accent {
    font-size: 1.6rem;
    font-weight: bold;
    border-bottom: 2px solid $accent-color;
}
p,
a,
span {
    font-size: 1.6rem;
}
i {
    font-size: 3rem;
    margin-right: 5px;
}
.btn {
    width: 220px;
    height: 64px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
    a {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.success-item-btn:hover,
.success-item-btn:active,
.btn:hover,
.btn:active{
    opacity: 0.9; filter: brightness(110%);
    transition: all .3s;
}
.btn-contact {
    a {
        color: #fff;
    }
    background-color: $btn-color;
    border: 1px solid $btn-color;
}
.btn-data {
    a {
        color: $btn-color;
    }
    border: 1px solid $btn-color;
    background-color: #fff;
    margin-left: 16px;
}
.btn-box {
    margin: 0 auto;
    display: flex;
}
