/*---------------------------------

ナビゲーション

---------------------------------*/
.clear {
  display: none;
}

.logo {
  height: 30px;
}



.bl_mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 20px 35px 20px 35px;
  position: relative;
}

.bl_mainHeader#header a {
  line-height: 1.6;

  font-weight: normal;
}

.bl_mainHeader#header a:hover {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader#header a {
    background-color: transparent;
  }
}

.bl_mainHeader#header a:not(.bl_mainHeader_btn) {
  border-bottom: none;
}

.bl_mainHeader img {
  display: block;
}

.bl_mainHeader * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader {
    padding: 16px;
  }
}

.bl_mainHeader li {
  margin-left: 20px;
}
.bl_mainHeader li:last-child{
  margin-left: 0;
}
.bl_mainHeader a {
  text-decoration: none;
}

.bl_mainHeader .bl_mainHeader_list_sub li {
  margin-left: 0px;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader li {
    margin-left: 0;
  }
}

.bl_mainHeader_right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 0;
  padding-bottom: 0;

}

@media screen and (max-width: 768px) {
  .bl_mainHeader_right {
    position: fixed;
    left: 0;
    z-index: 100;
    top: 58px;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    height: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .is-menu {
    overflow: hidden;
  }

  .is-menu .bl_mainHeader {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
  }

  .is-menu .bl_mainHeader_right {
    padding-top: 10px;
    height: calc(100vh - 58px);
    overflow: auto;
  }

  .is-menu .bl_menuSwitch span {
    width: 0;
  }

  .is-menu .bl_menuSwitch::before {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .is-menu .bl_menuSwitch::after {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(-45deg);
    transform: translate(-50%, 50%) rotate(-45deg);
  }
}

.bl_logo {
  width: 179px;
  height: 32px;
}

@media screen and (max-width: 900px) {
  .bl_logo {
    width: 149px;
    height: 26px;
  }
}

.bl_menuSwitch {
  width: 30px;
  border: none;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
  display: none;
}

@media screen and (max-width: 768px) {
  .bl_menuSwitch {
    display: block;
  }
}

.bl_menuSwitch::before,
.bl_menuSwitch::after,
.bl_menuSwitch span {
  position: absolute;
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  display: block;
  height: 3px;
  left: 0;
  background-color: #C1C1C1;
}

.bl_menuSwitch span {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bl_menuSwitch::before {
  top: 0;
}

.bl_menuSwitch::after {
  bottom: 0;
}

.bl_mainHeader_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bl_mainHeader_list a,
.bl_mainHeader_list span {
  font-size: 14px;
  color: #454545;
  display: block;
  padding: 5px 0;
}

.bl_mainHeader_list a:hover,
.bl_mainHeader_list span:hover {
  color: #f28b34;
}

@media screen and (max-width: 768px) {

  .bl_mainHeader_list a,
  .bl_mainHeader_list span {
    padding: 16px 24px;
    font-size: 12px;
  }
}

.bl_mainHeader_list .bl_mainHeader_btn {
  display: block;
  padding: 9px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  font-size: 13px;
  font-weight: bold;
  margin-left: 15px;
}

.bl_mainHeader_list .bl_mainHeader_btn--contact {
  background: linear-gradient(90deg, #EF8A6A -0.01%, #FCB677 100%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  width: 140px;
  color: #fff;
  border: none;
}
.bl_mainHeader_list .bl_mainHeader_btn--contact:hover{
  color:#fff;
  opacity:0.8;
}

#header .bl_mainHeader_list .bl_mainHeader_btn--contact:hover {
  color: #fff;
  background-color: #67C0A7;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list .bl_mainHeader_btn--contact {
    width: auto;
    border: none;
    box-shadow: none;
    color: inherit;
    background: none;
  }

  #header .bl_mainHeader_list .bl_mainHeader_btn--contact:hover {
    color: inherit;
    background-color: transparent;
  }
}

.bl_mainHeader_list .bl_mainHeader_btn--document {
  background-color: #fff;
  color: #F28B34;
  width: 140px;
  border: 1px solid #ccc;
}

.bl_mainHeader_list .bl_mainHeader_btn--document:hover {
  opacity:0.8;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list .bl_mainHeader_btn--document {
    width: auto;
    color: inherit;
    border: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list .bl_mainHeader_btn {
    margin-left: 0;
    padding: 15px 24px;
    font-weight: normal;
    text-align: left;
    font-size: 12px;
    box-shadow: none;
  }
}

/* .bl_mainHeader_list > li:not(:last-child) {
  margin-left: 4%;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list > li:not(:last-child) {
    margin-left: 0;
  }
}

.bl_mainHeader_list > li:nth-last-child(2) {
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list > li:nth-last-child(2) {
    margin-left: 0;
  }
} */

@media screen and (max-width: 768px) {
  .bl_mainHeader_list {
    display: block;
  }
}

.bl_mainHeader_list_drop {
  position: relative;
}

.bl_mainHeader_list_drop>span::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateY(-2px) rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list_drop>span::after {
    position: absolute;
    right: 30px;
    top: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.bl_mainHeader_list_drop:hover .bl_mainHeader_list_sub {
  pointer-events: all;
  opacity: 1;
  padding: 10px 5px;
  top: 30px;
}

.bl_mainHeader_list_drop.is-open {
  background-color: #F9F9F7;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list_drop.is-open .bl_mainHeader_list_sub {
    display: block;
    pointer-events: all;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .bl_mainHeader_list_drop.is-open>span::after {
    -webkit-transform: rotate(224deg);
    transform: rotate(224deg);
  }
}

.bl_mainHeader_list_sub {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.3s ease, top 0.3s ease;
  transition: opacity 0.3s ease, top 0.3s ease;
  right: 0;
  top: 0px;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list_sub {
    display: none;
    position: static;
    background-color: transparent;
  }
}

.bl_mainHeader_list_sub a {
  font-size: 12px;
  white-space: nowrap;
  display: block;
  padding: 10px 10px;
  color: #454545;
}

#header .bl_mainHeader_list_sub a:visited {
  color: #454545;
}

#header .bl_mainHeader_list_sub a:hover {
  color: #454545;
  background-color: #F9F9F7;
}

@media screen and (max-width: 768px) {
  .bl_mainHeader_list_sub a {
    padding: 16px 24px;
  }
}
